<!DOCTYPE html>
{% load static %}
<html lang="en">
	<head>
		<meta charset="UTF-8">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<title>Pong 2.0</title>
		<link rel="icon" href="{% static 'img/42_Logo.png' %}" type="image/x-icon">
		<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
		<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL" crossorigin="anonymous"></script>
		<script src="https://cdnjs.cloudflare.com/ajax/libs/apexcharts/3.49.0/apexcharts.min.js" integrity="sha512-NpRqjS1hba1uc6270PmwsKwQti3CSCDkZD9/dlen3+ytOUb/azIyuaGtyewUkjazLMSdl7Zy2CVWMvGxR6vFWg==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
		<link rel="stylesheet" href="{% static 'css/style.css' %}"/>
		<link rel="stylesheet" href="{% static 'css/chat.css' %}"/>
		<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.1/css/all.min.css" integrity="sha512-DTOQO9RWCH3ppGqcWaEA1BIZOC6xxalwEsw9c2QQeAIftl+Vegovlnee1c9QX4TctnWMn13TZye+giMm8e2LwA==" crossorigin="anonymous" referrerpolicy="no-referrer" />
		<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/apexcharts/3.49.0/apexcharts.min.css" integrity="sha512-qc0GepkUB5ugt8LevOF/K2h2lLGIloDBcWX8yawu/5V8FXSxZLn3NVMZskeEyOhlc6RxKiEj6QpSrlAoL1D3TA==" crossorigin="anonymous" referrerpolicy="no-referrer" />
	{% if direct == "utils/edit-profile" %}
		<link rel="stylesheet" href="{% static 'css/editProfile.css' %}">
		<link rel="stylesheet" href="{% static 'css/dataPopup.css' %}">
	{%elif direct == "utils/profile" %}
		<link rel="stylesheet" href="{% static 'css/dataPopup.css' %}">
		<link rel="stylesheet" href="{% static 'css/winrate.css' %}">
	{%elif direct == "utils/matchs" %}
		<link rel="stylesheet" href="{% static 'css/matchs.css' %}">
	{%elif direct == "utils/join-tournament" %}
		<link rel="stylesheet" href="{% static 'css/joinTournament.css' %}">
	{% endif %}
		<script src="{% static 'js/jQuery.js' %}"></script>
</head>
<body class="bg-light">
	{% csrf_token %}
	<div class="bg-light w-100">
		<div id="main-container" class="{% if direct != "utils/game" %}container{% endif %} mt-4">


			<!--
				<nav class="container navbar navbar-expand-lg navbar-light bg-light">
					<a class="navbar-brand" href="#">
						<img src="{% static 'img/42_Logo.svg' %}" alt="" height="60" width="80" class="d-inline-block align-center"/>
						<span style="font-size: x-large;">PONG 2.0</span>
					</a>
					<div class="collapse navbar-collapse justify-content-end" id="navbarNav">
						<ul class="navbar-nav">
							<li class="nav-item">
								<button class="btn btn-primary"><a class="nav-link text-white" href="https://api.intra.42.fr/oauth/authorize?client_id=u-s4t2ud-73fae2f30b790d3a7f318474e2871d23c312dd3a6bff7387548b9e3a9ea1e306&redirect_uri=https%3A%2F%2Fvalid-burro-vigorously.ngrok-free.app%2FgetUserInfo&response_type=code">42 ile Kaydol / Giriş Yap</a></button>
							</li>
						</ul>
					</div>
				</nav> -->
			<div id="app">
				{% if direct != "utils/" %}
					{% include direct|add:".html" with user=user urls=urls ownerUser=ownerUser blockStatus=blockStatus friendStatus=friendStatus langTexts=langTexts matchs=matchs%}
				{% endif %}
			</div>
			<div id="chat">
				<audio id="notificationSound" src="{% static 'audio/notification.wav' %}"></audio>
				{% if ownerUser %}
					{% include "utils/chat.html" with langTexts=langTexts%}
				{% endif %}
			</div>
			<div id="languageSwitch" class="position-fixed bottom-0 start-0 p-3">
				<div class="dropdown">
					<button class="btn btn-secondary dropdown-toggle" type="button" id="languageDropdown" data-bs-toggle="dropdown" aria-expanded="false">
						{{langTexts.languageSwitch}}
					</button>
					<ul class="dropdown-menu" aria-labelledby="languageDropdown">
						<li><a class="dropdown-item langSwitch" lang="tr">Türkçe</a></li>
						<li><a class="dropdown-item langSwitch" lang="en">English</a></li>
						<li><a class="dropdown-item langSwitch" lang="de">Deutsch</a></li>
					</ul>
				</div>
			</div>
		</div>
	</div>
	<div id="urlObject" data-href="{% if direct %}/viewApi/{{ direct|slice:"6:" }}{% endif %}"></div>
	<!-- <div class="container">
		<h1>Hello World!</h1>
		<button id="loginBtn" class="btn btn-primary">Login</button>
		<button id="test" class="btn btn-primary"><a class="text-white" href="https://api.intra.42.fr/oauth/authorize?client_id=u-s4t2ud-73fae2f30b790d3a7f318474e2871d23c312dd3a6bff7387548b9e3a9ea1e306&redirect_uri=https%3A%2F%2Fvalid-burro-vigorously.ngrok-free.app%2FgetUserInfo&response_type=code">Button</a></button>
	</div> -->
	<script>
		const siteUrl = "{{urls.URL}}";
		{% if user %}
		const ownUid = "{{user.uid}}";
		{% endif %}
	</script>
	{% if user %}
	<script src="{% static 'js/chat.js' %}"></script>
	<script src="{% static 'js/search.js' %}"></script>
	<script src="{% static 'js/game.js' %}"></script>
	<script src="{% static 'js/matchs.js' %}"></script>
	<script src="{% static 'js/profile.js' %}"></script>
	<script src="{% static 'js/editProfile.js' %}"></script>
	<script src="{% static 'js/joinTournament.js' %}"></script>
	{% endif %}
	<script src="{% static 'js/route.js' %}"></script>
	<script src="{% static 'js/router.js' %}"></script>
	<script src="{% static 'js/app.js' %}"></script>

	<script>
	{% if user and direct == "utils/game" %}
		game = new Game();
	{% elif user and direct == "utils/profile" %}
		profile = new Profile();
	{% elif user and direct == "utils/join-tournament" %}
		jointournament = new JoinTournament();
	{% elif user and direct == "utils/edit-profile" %}
		editProfile = new EditProfile();
	{% elif user and direct == "utils/matchs" %}
		matchs = new Matchs();
	{% endif %}
	</script>
</body>
</html>
